@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div class="row">
        <div class="col-4 offset-4">
            <div class="form-group">
                <label>Select Country</label>
                <select class="form-control country">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group">
                <label>Select State</label>
                <select class="form-control state">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group">
                <label>Select City</label>
                <select class="form-control city">
                    <option>Select</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loadCountries(); 
    })
    function loadCountries() {
        $.get('@Url.Action("GetCountries","Home")', function (result) {
            console.log(result);

            $.each(result, function (i, data) {
                $(".country").append("<option value=" + data.id + ">" + data.countryName + "</option>")
                console.log(i)
                console.log(data.id)
                console.log(data.countryName)
            })
            //$.each(result, function (i,data) {
            //    console.log(data.CountryName)
            //    $(".country").append("<option value="+data.id + ">" + data.CountryName+"</option>")

            //})
        })
    }
</script>